.login-component{
  display: flex;
  flex-direction: column;
  padding:40px 20px ;
  input{
    border-radius: 5px;
    padding-left: 2%;
    margin-bottom: 30px;
    height: 35px;
    -webkit-appearance: none;
    box-shadow: none;
    border: 1px solid #ccc;
  }
  button{
    height: 35px;
    border-radius: 5px;
    color: #fff;
  }
}